albumentations
ipython
matplotlib
numpy
openai-clip
opencv-python
pandas
pillow
pycocotools # COCO mAP
pylabel
PyQt5
PyYAML
roboflow
sahi
scikit-learn
scipy
tensorboard
tensorflow
tifffile
torch
torchaudio
torchmetrics
torchvision
tqdm
transformers
ultralytics
yolov5