albumentations
detectron2
image-bbox-slicer
jaraco.collections
labelimg
natsort
object-detection-project
osam
pip-chill
pylabel
pysocks
sahi
scikit-image
supervision
torchaudio
transformers
ultralytics
