albumentations
detectron2
imagesize
jaraco.collections
labelimg
natsort
object-detection-project
osam
pascal-voc-writer
pip-chill
pylabel
pysocks
sahi
scikit-image
supervision
torchaudio
transformers
ultralytics
